*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/misc.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
**/js/build
/captures
.externalNativeBuild
/node_modules
/music
/*.app
*.jar
.*.swp
gradlew
gradlew.bat
yapi-keys.js
_npmlink