video {
    width: 20%;
    display: block;
}

video:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#ui-container {
    box-sizing: border-box;
    direction: rtl;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}

#ui-container > * {
    direction: ltr;
}

#ui-container > input.volume-control {
    position: fixed;
    top: calc(25vh + 50px);
    right: calc(13px - 25vh);
    width: 50vh;
    height: 30px;
}

div.search-ui {
    padding: 9px;
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}

input.volume-control {
    -webkit-appearance: none;
    transform: rotate(270deg);
    background: #fff;
}

input.volume-control::-webkit-slider-runnable-track {
    background: linear-gradient(to top left,
        #a7b2ce 0%, #a7b2ce 50%, #fff 51%, #fff 100%);
    height: 20px;
    border: none;
}

input.volume-control::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 50px;
    height: 30px;
    background: linear-gradient(to right,
        #fff0 0%, #fff0 30%, #999 30%, #ddd 40%, #ddd 48%, #888 50%, #ddd 52%, #ddd 60%, #eee 70%, #fff0 70%, #fff0 100%);
    margin-top: -7px;
    border: none;
}

input[type="range"]:focus {
    outline: none;
}

#search-box {
    margin-top: 9px;
    display: flex;
    border: 1px solid #ccc;
    padding: 0 2px;
}

#search-box input {
    border: none;
    flex-grow: 1;
    font-size: 16px;
    vertical-align: middle;
    height: 28px;
}

#search-box button {
    width: 24px;
    background: none;
    border: none;
    padding: 0;
    vertical-align: middle;
}

#search-box button path {
    fill: #ccc;
}

#search-box button:active {
    background: #ccc;
}

#search-box *:focus {
    outline: none;
}

#search-results {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 17px;
    margin-right: 30px;  /* room for volume control */
}

#search-results .video-snippet {
    display: flex;
    cursor: pointer;
    margin: 0;
    padding: 9px 2px;
}

#search-results .video-snippet.active {
    background: #4747ff;
    color: white;
}

.pending #search-results .video-snippet.active {
    animation: pulse-animation 1s steps(20, start) infinite;
}

.error #search-results .video-snippet.active {
    background: #a53535;
}

#search-results .video-snippet .title {
    flex-grow: 1;
}

#search-results .video-snippet .duration {
    margin-left: .5em;
}

@keyframes pulse-animation {
  50% {
    background: #8484ff;
  }
}

.control-panel {
    position: fixed;
    right: 0;
    bottom: 0;
    background: white;
    border-left: 1px solid rgb(204, 191, 191);
    border-top: 1px solid #ccc;    
    padding: 2px 0 0 9px;
    display: flex;
    align-items: flex-end;
}

.control-panel .controls {
    padding: 5px;
}

.control-panel:not(.expand) {
    padding: 0;
    border: none;
}

.control-panel:not(.expand) .controls {
    display: none;
}

.control-panel > button {
    border: none;
    background: #eee;
    padding: 0 7px 2px 5px;
    font-size: 20px;
}

.control-panel.expand > button {
    color: #eee;
    background: #888;
}

button:active, button:focus {
    outline: none;
}

button[name="play-pause"] {
    border: none;
    background: none;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 0;
    min-width: 20px;    
}